{% extends 'base.html' %}

{% block content %}
    <h1>Edit Album</h1>
    <br>

    {% comment %} taken from get_info.html but doesnt work {% endcomment %}
    {% if album.image %}
        <img src='{{ album.image.url }}' alt='album cover'>
    {% endif %}
    {% comment %} taken from get_info.html but doesnt work {% endcomment %}

    <br>
    <form method='POST' enctype='multipart/form-data'>
        <div class="form-container">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <div class="button-container">
            <button type='submit'>Save Changes</button>
        </div>
    </form>
    <br>
    <div class="navlink-container">
        <a class="navlink" href='{% url 'home' %}'>Back to Homepage</a>
    </div>
{% endblock %}