{% extends 'base.html' %}

{% block content %}
    <h1 class="top-text">Edit this Album!</h1>
    <br>
    <form method='POST' enctype='multipart/form-data'>
        <div class="form-container">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <div class="button-container">
            <button type='submit'>Save Changes</button>
        </div>
    </form>
    <br>
    <div class="link-container">
        <a class="link" href='{% url 'home' %}'>Back to Homepage</a>
    </div>
{% endblock %}