{% extends 'base.html' %}

{% block content %}
    <h1>Album Info</h1>
    <br>
    {% if album.image %}
        <img src='{{ album.image.url }}' alt='album cover'>
    {% endif %}
    <div class="info-container">
        <h2>Title: {{ album.title }}</h2>
        <h2>Artist: {{ album.artist }}</h2>
        <h3>Genre: {{ album.genre }}</h3>
    </div>
    <br>
    <div class="navlink-container">
        <a class="navlink" href='{% url 'home' %}'>Back to Homepage</a>
        <a class="navlink" href='{% url 'edit_album' album.pk %}'>Edit this Album</a>
        <a class="navlink" href='{% url 'delete_album' album.pk %}'>Delete this Album</a>
    </div>
{% endblock %}