<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Albums</title>
  </head>
  <body>
    <h1>Django Albums</h1>
    <h2>My Album Collection:</h2>
    <h3>Click on an item for more info!</h3>
    <br>
    {% for album in albums %}
    <p><a href='{% url 'get_info' album.pk %}'>{{ album }}</a></p>
    {% endfor %}
    <br>
    <a href='{% url 'add_album' %}'>Add New Album</a>
  </body>
</html>
